.template{
    display: none;
}
body {
    background: url(bg.jpg) no-repeat center center fixed; 
    background-size: cover;
}
h1 {
    text-shadow: -5px 1px 1px rgba(87,87,87,1);
    font-weight: normal;
    color: #050F66;
    letter-spacing: 1pt;
    word-spacing: 5pt;
    font-size: 59px;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
}
li {
    background-color: #9fbedf;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    transition-duration: 0.5s;
}
li + li{
    margin-top: 3px;
}
#submitB{
    height:45px;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: 1s;
}

#iconS{
    height:45px;
    width: 45px;

    transition-duration: 1s;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}
.button{
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 1s;
}
#filter-form{
    width: 300px;
    border-radius: 10px;
    float: right;
    margin-right: 43px;
}
li.fav{
    background-color: #ffae00;
}